@import '@/styles/utils/vars';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 48px;
  width: fit-content;

  font-family: inherit;
  font-size: 16px;

  padding-left: 16px;
  padding-right: 16px;
  border-radius: $radius-8;
  border: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: scale(1);
  -webkit-transition:
    box-shadow 0.1s ease-out,
    -webkit-transform 0.1s ease-out,
    transform 0.1s ease-out;
  -moz-transition:
    box-shadow 0.1s ease-out,
    transform 0.1s ease-out;
  transition:
    box-shadow 0.1s ease-out,
    -ms-transform 0.1s ease-out,
    -webkit-transform 0.1s ease-out,
    transform 0.1s ease-out;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }
}

.primary {
  background: $main;
  color: $white;
}

.icon {
  width: 32px;
  height: 32px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: $white;
  color: $main;
  border: 1px solid $main;
}

.fullWidth {
  width: 100%;
}
