$radius-16: 16px;
$radius-8: 8px;

$white: #fff;

$background-primary: #fafafa;
$background-surface: #fff;

$text-900: #313235;
$text-800: #7e838f;
$text-10: #fff;

$border: #eaecf0;
$icon: #313235;
$disable: #7e838f;

$main: linear-gradient(256deg, #1043a6 0%, #0c317c 100%);
